/**
 * Buttons
 */

 /* Submit button */
input[type="submit"] {
  border: 0;
  border-radius: 2px;
  background-color: $color-brand-alt;
  padding: .5em;
  color: $color-white;
 
  &:hover {
    background-color: #4f9cbd;
  }
}
