 {
	background-size: -Infinitypx -Infinitypx;
}

.no-svg  {
	background-image: url("../images/sprites/icon-social-sprite.png");
}

 {
	background-image: url("../images/sprites/icon-social-sprite.svg");
}
