
/* ---------- Color Module Styles ----------- */

/*
 * Text color
 */

body.overlay,
body {
  color: #3b3b3b;
}


/*
 * Brand color.
 */

/* Links. */
.linux-views-set-list-style .more a,
.linux-views-set-list-style .more a:visited {
  color: #fa9500;
}

a,
a:visited,
a:hover {
  color: #fa9500;
}


a:active {
  color: #23aeff;
}

/*
 * Header Border.
 */

#header {
  border-bottom: 3px solid #fa9500;
}

/*
 * Members Area.
 */
.members {
  border-top: 1px solid #fa9500;
}

/*
 * Menus.
 */

/* Vertical Menu. */
.expandable-nav ul.menu li a:hover,
.expandable-nav ul.menu li a:visited:hover {
  color: #fa9500;
}

/* Down arrow. */
.expandable-nav ul.menu li span.nav-icon:after {
 color: #fa9500;
}

/* Drop down indicator. */
ul#superfish-1.sf-main-menu > li.menuparent li.menuparent  > a span:after {
  color: #fa9500;
}

ul#superfish-1.sf-main-menu ul a:hover,
ul#superfish-1.sf-main-menu ul a:link:hover,
ul#superfish-1.sf-main-menu ul a:visited:hover {
  color: #fa9500;
}

#superfish-1 > li.active-trail > a,
#superfish-1 > li > a:hover,
#superfish-1 > li > a.active,
.sf-main-menu > li.active-trail > a,
.sf-main-menu > li > a:hover,
.sf-main-menu > li > a.active {
 background-color: #fa9500;
}

/* Dropdown Indicator. */
ul#superfish-1.sf-main-menu span.sf-sub-indicator::after {
  color: #fa9500;
}

.field-name-field-announcement-author {
  border-top: 2px solid #fa9500;
}

/*
 * Site titles.
 */

 /* Front titles. */
.front h1,
.front h2 {
  color: #fa9500;
}

h2, h3, h4, h5 {
  color: #fa9500;
}

/*
 * Blocks.
 */

/* First block */
#block-views-alg_cta-block .views-row:nth-child(1) a:hover {
  color: #faaf19;
}

/* Third block. */
#block-views-alg_cta-block .views-row:nth-child(3) h2,
#block-views-alg_cta-block .views-row:nth-child(3) {
  color: #fa9500;
}

/* View more links. */
#block-views-news_and_announcements-block .view-footer a,
#block-views-news_and_announcements-block_1 .view-footer a,
#block-views-blogs-block_3 .view-footer a,
#block-views-events-block .view-footer a,
.block.blog .view-footer a,
.block.announce .view-footer a {
  color: #fa9500;
}

/* Brand color alt. */
#block-views-alg_cta-block .views-row:nth-child(2) {
  background: #faaf19;
}

.node-type-blog #block-system-main + .block-views {
  border-top: #fa9500 2px solid;
}

#block-views-alg_cta-block .views-row:nth-child(1) {
 background-color: #fa9500;
}

/*
 * Blog Page.
 */
.field-name-field-announcement-author {
  border-color: #faaf19;
}
