//////////////////////////////
// COLORS
//////////////////////////////

/*
 * Descriptive variables:
 */

$color-green: #8DC63F;
$color-blue: #61BEE5;
$color-blue-dark: #003F5E;

/* #Black */
$color-black: #4D4848;

/* #Gray */
$color-gray-dark: #58595b;
$color-gray-light: #989B95;
$color-gray: #6f6f71;


$color-light: #f6f5f3;

$color-neutral: #d2cdc4;
$color-neutral-transparent: rgba(0,0,0,0.1);
$color-white: #FFFCFA;

/**
 * Functional variables:
 **/

/* #Brand Color */
$color-brand: $brand-color;
$color-brand-alt: $brand-color-alt;
$color-brand-alt-2: $color-blue-dark;


/* #Type Color */
$color-text-type: $color-black;
$color-text-display: $color-gray;

/* #Border Color */
$color-border: $brand-color;

