/////////////////////////
// CONFIG
/////////////////////////
$brand: company-name;
$brand-color: #fa9500;
$brand-color-alt: #faaf19;
$brand-background-1: #3e6881; //darker
$brand-background-2: #eeeeee; //lighter
$brand-color-link: $brand-color;  

$site-body-color: #f2f2f9;
$site-background-color: #f7f7f7;

$contrasted-dark-default: $brand-color;
$contrasted-light-default: $site-background-color;
/*
 * Typography
 */
 
//Font weights
$light: 300;
$regular: 400;
$bold: 500;


// Title Font
$title-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-weight: $regular;
$title-font-color: $brand-color;
$title-line-height: 1.4;
$title-case: none;
$title-font: $title-font-weight $title-font-family;


// Base Font
$base-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 1.4em;
$base-font: $base-font-weight $base-font-size $base-font-family;
$base-font-color: #282727;

$base__font-size_integer:   16;
$base__font-size:           16px;
$base__line-height:         24px; // This line-height determines the basic unit of vertical rhythm.

/*
 * Layout
 */
$site-width: 1140px;
$sidebar-width: 33.333%;
$main-content-width: 66.667%;


/*
 * Block Padding
 */
 $block-padding: 10px;
 $block-padding-alt: 5px;
